ansible==2.10.7
  ansible-base==2.10.5
    cryptography==3.4.5
      cffi==1.14.5
        pycparser==2.20
    Jinja2==2.11.3
      MarkupSafe==1.1.1
    packaging==20.7
      pyparsing==2.4.7
    PyYAML==5.4.1
  setuptools
croniter==0.3.20
  python-dateutil==2.6.1
    six==1.15.0
pytz>=2017.3
click==6.7
requests==2.25.0
  certifi==2020.12.5
  chardet==3.0.4
  urllib3==1.26.2
git+git://github.com/trawick/emptyhammock-out-of-date.git@0.2.0
  # six
flake8==3.7.7
   mccabe==0.6.1
   pycodestyle==2.5.0
   pyflakes==2.1.0
   configparser==3.7.4
   entrypoints==0.3
