# 9.7.x/2.16.x are the latest versions to support Python 3.6 on the target machine.
ansible==9.7.0
  ansible-core==2.16.8
    cryptography==42.0.8
      cffi==1.16.0
        pycparser==2.22
    Jinja2==3.1.4
      MarkupSafe==2.0
    packaging==24.1
      pyparsing==3.1.2
    PyYAML==6.0.1
    resolvelib==0.8.1
croniter==1.4.1
  python-dateutil==2.9.0
    six==1.16.0
  future==1.0.0
  natsort==8.4.0
pytz==2024.1
click==8.1.7
requests==2.32.3
  certifi==2024.7.4
  chardet==3.0.4
  urllib3==1.26.19
  idna==3.7
git+https://github.com/trawick/emptyhammock-out-of-date.git@0.2.0
  # six
flake8==7.1.0
  mccabe==0.7.0
  pycodestyle==2.12.0
  pyflakes==3.2.0
  configparser==7.0.0
  entrypoints==0.4
  importlib-metadata==8.0.0
    zipp==3.19.2
    typing-extensions==4.12.2
